/* variables */
$color1 = #999;

h1 {
	color: $color1;
	font-weight: bold;
}

h2 {
	color: #cc0000;
}

h3 {
	font-weight: bold;
}

div {
	p {
		font-weight: bold;
	}
	span {
		font-weight: normal;
	}
}